/* Workouts.css */

/* Main container for workouts */
.workout-container {
    padding: 20px;
    text-align: center;
    overflow-y: auto; 
    background-color: "#121212";
    display: "flex",
  }
  
  .workout-heading {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  
  /* Workout list styles */
  .workout-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  /* Individual workout item */
  .workout-item {
    background-color: #f6ad55;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .workout-item:hover {
    transform: translateY(-5px); /* Slight hover effect */
  }
  
  .exercise-name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .exercise-category {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .workout-item svg {
    margin: 10px auto;
  }
  